p {
    margin: 0;
    padding: 0;
    font-weight: 300;
    line-height: 1.2rem;
}

.tripcard {
    font-weight: 200;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 45%;
    height: 20%;
    margin: 15px 20px 50px 20px;
}

.main-image {
    width: 220px;
    height: 300px;
    margin-right: 17px;
    border-radius: 15px;
    object-fit: cover;
}

.contentcard {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    max-width: 330px;
    margin: 0 10px;
}

.content-title {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 600px){

    .tripcard {
        flex-direction: column;
        width: 90%;
        height: 30%;
        margin: 25px 0px;
        padding: 0 10px;
    }

    .main-image {
        width: 100%;
        height: 300px;
    }

    .contentcard {
        max-width: 100%;
    }

    .content-title {
        margin: 10px 0;
    }
}