.search-bar {
    width: 550px;
    padding: 5px;
    text-align: center;
    border: none;
    border-bottom: 2px solid rgb(210, 210, 210)
}

.search-bar:focus{
    outline: none;
    border-bottom: 2px solid rgb(51, 167, 221);
}

@media (max-width: 600px){
    .search-bar {
        width: 80%;
    }
}