body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}



input {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: gray;
}

p {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.header {
    font-size: 60px;
    font-weight: 300;
    color: rgb(51, 167, 221);
    text-align: center;
    margin-top: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
}